.container{
    width:100vw;
    height:100vh;
    background-color: rgb(15, 11, 11);
}
.timer{
    height: 345px;
}
.text{
    color:rgb(83, 190, 83);
    font-size:300px;
}

.buttons{
    background-color:rgb(194, 84, 84);
    height:40px;
    width: 100px;
}